Section 1: EDA - Summarizing tables and plots

In [99]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
from sklearn import preprocessing
from sklearn.decomposition import PCA
from sklearn.covariance import EllipticEnvelope
%matplotlib inline

traindf = pd.read_csv("aps_failure_training_set.csv",na_values=['na'])#usecols=[0,1,2,4,5])

In [100]:
print('This dataset has the following shape: {}'.format(traindf.shape))
print('Here are the 5 rows.')
print(traindf.head(n=5))
traindf.describe()

This dataset has the following shape: (60000, 171)
Here are the 5 rows.
  class  aa_000  ab_000        ac_000  ad_000  ae_000  af_000  ag_000  ag_001  \
0   neg   76698     NaN  2.130706e+09   280.0     0.0     0.0     0.0     0.0
1   neg   33058     NaN  0.000000e+00     NaN     0.0     0.0     0.0     0.0
2   neg   41040     NaN  2.280000e+02   100.0     0.0     0.0     0.0     0.0
3   neg      12     0.0  7.000000e+01    66.0     0.0    10.0     0.0     0.0
4   neg   60874     NaN  1.368000e+03   458.0     0.0     0.0     0.0     0.0

   ag_002   ...       ee_002    ee_003    ee_004    ee_005    ee_006  \
0     0.0   ...    1240520.0  493384.0  721044.0  469792.0  339156.0
1     0.0   ...     421400.0  178064.0  293306.0  245416.0  133654.0
2     0.0   ...     277378.0  159812.0  423992.0  409564.0  320746.0
3     0.0   ...        240.0      46.0      58.0      44.0      10.0
4     0.0   ...     622012.0  229790.0  405298.0  347188.0  286954.0

     ee_007    ee_008  ee_009  ef_000  eg_000
0  157956.0   73224.0     0.0     0.0     0.0
1   81140.0   97576.0  1500.0     0.0     0.0
2  158022.0   95128.0   514.0     0.0     0.0
3       0.0       0.0     0.0     4.0    32.0
4  311560.0  433954.0  1218.0     0.0     0.0

[5 rows x 171 columns]

,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,ag_003,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
count,6.000000e+04,13671.000000,5.666500e+04,4.513900e+04,57500.000000,57500.000000,5.932900e+04,5.932900e+04,5.932900e+04,5.932900e+04,...,5.932900e+04,5.932900e+04,5.932900e+04,5.932900e+04,5.932900e+04,5.932900e+04,5.932900e+04,5.932900e+04,57276.000000,57277.000000
mean,5.933650e+04,0.713189,3.560143e+08,1.906206e+05,6.819130,11.006817,2.216364e+02,9.757223e+02,8.606015e+03,8.859128e+04,...,4.454897e+05,2.111264e+05,4.457343e+05,3.939462e+05,3.330582e+05,3.462714e+05,1.387300e+05,8.388915e+03,0.090579,0.212756
std,1.454301e+05,3.478962,7.948749e+08,4.040441e+07,161.543373,209.792592,2.047846e+04,3.420053e+04,1.503220e+05,7.617312e+05,...,1.155540e+06,5.433188e+05,1.168314e+06,1.121044e+06,1.069160e+06,1.728056e+06,4.495100e+05,4.747043e+04,4.368855,8.830641
min,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000
25%,8.340000e+02,0.000000,1.600000e+01,2.400000e+01,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,2.936000e+03,1.166000e+03,2.700000e+03,3.584000e+03,5.120000e+02,1.100000e+02,0.000000e+00,0.000000e+00,0.000000,0.000000
50%,3.077600e+04,0.000000,1.520000e+02,1.260000e+02,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,2.337960e+05,1.120860e+05,2.215180e+05,1.899880e+05,9.243200e+04,4.109800e+04,3.812000e+03,0.000000e+00,0.000000,0.000000
75%,4.866800e+04,0.000000,9.640000e+02,4.300000e+02,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,4.383960e+05,2.182320e+05,4.666140e+05,4.032220e+05,2.750940e+05,1.678140e+05,1.397240e+05,2.028000e+03,0.000000,0.000000
max,2.746564e+06,204.000000,2.130707e+09,8.584298e+09,21050.000000,20070.000000,3.376892e+06,4.109372e+06,1.055286e+07,6.340207e+07,...,7.793393e+07,3.775839e+07,9.715238e+07,5.743524e+07,3.160781e+07,1.195801e+08,1.926740e+07,3.810078e+06,482.000000,1146.000000

Section 2: Data cleaning

In [101]:
traindf = traindf.dropna() #drop all rows with Nan in a value spot to cleanse data. Imputation might be a better choice. Must run model and see.
print(traindf.head(n=5))
traindf.describe()

    class  aa_000  ab_000  ac_000  ad_000  ae_000  af_000  ag_000    ag_001  \
16    neg   31300     0.0   784.0   740.0     0.0     0.0     0.0       0.0
179   neg   97000     0.0   378.0   160.0     0.0     0.0     0.0       0.0
225   neg  124656     2.0   278.0   170.0     0.0     0.0     0.0       0.0
394   pos  281324     2.0  3762.0  2346.0     0.0     0.0  4808.0  215720.0
413   pos   43482     0.0  1534.0  1388.0     0.0     0.0     0.0       0.0

       ag_002   ...       ee_002    ee_003    ee_004     ee_005     ee_006  \
16        0.0   ...     798872.0  112724.0   51736.0     7054.0     6628.0
179       0.0   ...    1078982.0  313334.0  511330.0   552328.0   871528.0
225       0.0   ...    1205696.0  866148.0  697610.0   700400.0  1900386.0
394  967572.0   ...     624606.0  269976.0  638838.0  1358354.0   819918.0
413   40024.0   ...     497196.0  121166.0  202272.0   232636.0   645690.0

       ee_007  ee_008  ee_009  ef_000  eg_000
16    27600.0     2.0     2.0     0.0     0.0
179  871104.0  1980.0    42.0     0.0     0.0
225  437532.0  3680.0     0.0     0.0     0.0
394  262804.0  2824.0     0.0     0.0     0.0
413      50.0     0.0     0.0     0.0     0.0

[5 rows x 171 columns]

,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,ag_003,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
count,5.910000e+02,591.00000,5.910000e+02,591.000000,591.000000,591.000000,591.000000,591.000000,5.910000e+02,5.910000e+02,...,5.910000e+02,5.910000e+02,5.910000e+02,5.910000e+02,5.910000e+02,5.910000e+02,5.910000e+02,591.000000,591.000000,591.000000
mean,2.809300e+05,0.80203,2.451586e+08,908.297800,227.695431,338.355330,45.972927,3922.186125,6.560618e+04,7.929698e+05,...,1.188929e+06,5.704084e+05,1.156445e+06,1.221455e+06,2.050994e+06,2.206999e+06,4.870669e+04,99.238579,0.439932,2.741117
std,2.242716e+05,4.12677,6.804699e+08,1232.497585,1387.910299,1484.992857,567.505239,30513.434204,3.621030e+05,3.011178e+06,...,3.378870e+06,1.657034e+06,4.198702e+06,2.441378e+06,2.806046e+06,5.846784e+06,1.216914e+05,544.489432,5.005356,27.278830
min,0.000000e+00,0.00000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000
25%,1.577120e+05,0.00000,3.770000e+02,195.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,7.854000e+03,...,3.681070e+05,1.648850e+05,3.113240e+05,2.230640e+05,3.545410e+05,1.032010e+05,1.990000e+03,0.000000,0.000000,0.000000
50%,1.952680e+05,0.00000,8.600000e+02,544.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,1.469940e+05,...,7.713860e+05,3.664700e+05,6.812140e+05,6.180840e+05,1.148528e+06,6.797620e+05,1.045200e+04,0.000000,0.000000,0.000000
75%,3.037300e+05,0.00000,2.367000e+03,1070.000000,0.000000,0.000000,0.000000,0.000000,2.124000e+03,6.063510e+05,...,1.316493e+06,6.130590e+05,1.169780e+06,1.285274e+06,2.649181e+06,2.841454e+06,4.298200e+04,8.000000,0.000000,0.000000
max,1.675586e+06,68.00000,2.130706e+09,8588.000000,21050.000000,20070.000000,8516.000000,484922.000000,6.328192e+06,6.340207e+07,...,7.793393e+07,3.775839e+07,9.715238e+07,3.411102e+07,2.811407e+07,1.195801e+08,1.626932e+06,8106.000000,86.000000,606.000000

In [104]:
print(traindf.shape)
print(traindf.mean(axis=0).shape, traindf.mean(axis=0).mean())
#traindf = np.vstack([traindf,traindf.mean(axis=0)])

(591, 171)
(170,) 3954399.062349457